body{
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background: rgb(251,179,63);
background: radial-gradient(circle, rgba(251,179,63,0.8297443977591037) 0%, rgba(70,252,241,1) 100%);

}
.navbar-custom {
    background-color: #343a40; /* Fondo oscuro */
}

.navbar-custom:focus{
    background-color: rgb(20, 96, 163);
}


.navbar-custom .navbar-brand, .navbar-custom .nav-link {
    color: #ffffff; 
    transition: color 0.3s;
}

.navbar-custom .nav-link:hover {
    color: #d4af37; 
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

header {
    background-color: #f8f9fa;
}

header img {
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin: 10px 0;
}

header p {
    font-size: 1.25rem;
    color: #6c757d;
}


#portfolio img {
    border: 2px solid #dee2e6;
    padding: 10px;
}
