body{
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  color: #ffffff;
}
.navbar-custom {
    background-color: #343a40;
}

.navbar-custom:focus{
    background-color: rgb(20, 96, 163);
}


.navbar-custom .navbar-brand, .navbar-custom .nav-link {
    color: #ffffff; 
    transition: color 0.3s;
}

.navbar-custom .nav-link:hover {
    color: #d4af37; 
}


header {
    background-color: #090979;
}

header img {
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    color: #ffffff;
}

header p {
    font-size: 1.25rem;
    color: #6c757d;
}


#portfolio img {
    border: 2px solid #dee2e6;
    padding: 10px;
}
h2{
  color: #ffffff;
}

.portfolio-item {
    text-align: center;
}

.portfolio-item img {
    border: 2px solid #dee2e6;
    padding: 10px;
}

.portfolio-item .btn {
    margin-top: 10px;
}
.card{
    align-items: center;
    padding: 10px;
    margin: 50px;
    box-shadow:  0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #ff00ff;;
}

.footer-custom {
    background-color: #343a40;
    color: #ffffff;
    padding: 40px 0;
}

.footer-custom h5 {
    font-size: 1.25rem;
    margin-bottom: 20px;
    color: #d4af37;
}

.footer-custom p, .footer-custom a {
    color: #ffffff;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer-custom a:hover {
    color: #d4af37;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
    font-size: 1.5rem;
}

.social-icon:hover {
    color: #d4af37;
}

.footer-custom .text-center p {
    margin-top: 20px;
    font-size: 0.875rem;
    color: #ffffff;
}











section{
    color: #ffffff;
}
